/*****************************************************************************/
/*
/* Home Page
/*
/*****************************************************************************/

#main {
	background-color: white;
	padding: 0px;
	height: auto;
}

.content_container {
	text-align: center;
	padding: 20px 0px;
}

.content_container h1 {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 30px;
	color: #4A4A4A;
}

.content_container h2 {
	font-family: 'Lato';
	font-weight: bold;
	font-size: 20px;
	color: #979797;
	margin: 10px; 
}

/*****************************************************************************/
/*
/* Sections
/*
/*****************************************************************************/

.keypoints {
	margin: 10px auto;
	padding: 0px 20px;
	display: inline-block;
}

.keypoints div {
	margin: 20px 50px 0px 50px;
	display: inline-block;
	width: 120px;
}

.keypoints div * {
	display: block;
	text-align: center;
	font-family: 'Lato';
	font-weight: 900;
	margin: 0px auto 14px auto;
}

#services {
	color: white;
	background-color: #E96944;
}

#services h1, #services h2 {
	color: white;
}

#products {
	background-color: white;
}

#about {
	background-color: #F9F9F9;
}

#contacts {
	background-color: white;
}

#contacts div {
	text-align: left;
}

/*****************************************************************************/
/*
/* Contacts Form
/*
/*****************************************************************************/

#contact_form {
	display: inline-block;
	margin: 20px auto;
	padding: 0px;
	width: 50%;
}

#contacts_form #send-email {
	/* Rectangle 17: */
	background: #E96944;
	border-radius: 5px;
	/* SEND  MESSAGE: */
	font-family: 'Lato';
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 15px;
}

#contacts_form_message {
	height: 150px;
	vertical-align: top;
}

@media only screen and (max-width: 800px)  {
	.keypoints div {
		display: block;
	}
}
