/*****************************************************************************/
/*
/* Home Page
/*
/*****************************************************************************/

.content_container {
	text-align: center;
}

.content_container h1 {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 30px;
	color: #333333;
}

.content_container h2 {
	font-family: 'Lato';
	font-size: 24px;
	color: #C4C4C4;
	margin: 10px; 
}

/*****************************************************************************/
/*
/* Sections
/*
/*****************************************************************************/

#main {
	background-color: white;
	padding: 0px;
	height: auto;
}

#products {
	background-color: #EEEEEE;
}

#services {
	background-color: white;
}

#about {
	background-color: #EEEEEE;
}

#contacts {
	background-color: white;
}

#contacts div {
	text-align: left;
}

/*****************************************************************************/
/*
/* Contacts Form
/*
/*****************************************************************************/

#contact_info {
	display: inline-block;
	margin: 20px;
	float: left;
	width: 40%;
}

#contact_form {
	display: inline-block;
	margin: 20px;
	padding: 0px;
	float: right;
	width: 50%;
}

#contacts_form_message {
	height: 150px;
	vertical-align: top;
}

@media screen and (max-width:400px) {
	
	#contact_info {
		display: block;
		width: 100%;
	}
	
	#contact_form {
		display: block;
		width: 100%;
	}
}
