
body {
	height: 100%;
	color: #666666;
	text-shadow: none;
}

h2 {
	margin: 40px auto 10px auto;
}

h6 {
	font-size: 14px;
	margin: 0px auto;
	max-width: 550px;
	font-weight: normal;
}

a, a:visited {
	color: #FFFFFF;
	font-size: 14px;
	opacity: 0.8;
}

a:hover, a:visited:hover {
	color: #F8C72E;
}

#pomodorino-top {
	background-image: url('/images/pomodorino/blurred-bg.png');
	background-size: cover;
	padding: 20px;
}

#top-container {
	margin: 0px auto;
}

#header-text {
	color: white;
}

#header-text img {
	margin: 10px;
}

.logo {
	margin: 20px auto;
}

.devices {
	margin: 20px auto;
	max-width: 100%;
	display: block;
	height: auto;
}

.main {
	padding: 20px;
}

.badges {
	margin: 30px;
}

.badges img {
	margin: 20px;
}

.links-separator {
	margin: 0px 10px;
}

footer {
	color: white;
	font-size: 14px;
	text-align: center;
	background-color: #F5675C;
}

footer h5 {
	color: white;
}

footer #maker {
	margin: 20px;
	margin-top: 0px;
}

footer a:active, footer div a:visited {
	color: white;
}

/********************************/
/******** Sign-up Form **********/
/********************************/

#mc_embed_signup {
	max-width: 650px;
	margin: 20px auto;
}

.mc-field-group {
	margin: 0px auto;
}

.mc-field-group * {
	display: inline-block;
}

#mce-EMAIL {
	float: left;
	width: 84%;
}

.button {
	background: #F5675C;
	float: right;
	width: auto;
}
