<section
  class='content-container'
  id='about'
>
  <div class="section-header">
    <h1>About</h1>
    <h2>Cocoa Beans is a small software development and consultancy studio. We like to think we're building software
      that people love and enjoy using.</h2>
  </div>
  <div class="section-content">
    <div class="profile">
      <img
        class="profile-image"
        src="http://gravatar.com/avatar/2b98c09b232d45d7b03fd6804ed23e40?s=300"
      />
      <div class="social-buttons">
        {% include social_links_gianluca.html %}
      </div>
      <div class="profile-details">
        <h3>Gianluca Tranchedone</h3>
        <h4>Founder & Software Craftsman</h4>
        <p>Gianluca has been crafting software for Apple devices since 2009. He recently got also into back and
          front-end development in Ruby on Rails.</p>
      </div>
    </div>
  </div>
</section>
