<section
  class='content-container navigation-blended-container'
  id='main'
>
  <div class="content full-height">
    <div class="flex-container-horizontal flex-center-vertical flex-space-between full-height">
      <div class="flex-container-vertical flex-start padded">
        <h1 class="m-0 p-0 main-title">We make tasty products</h1>
        <h2 class="m-0 mt-1 mb-1 p-0">
          A software development consultancy to help you grow your business.
        </h2>
        <a
          class="button"
          href="#contacts"
        >Contact us</a>
      </div>
      <img
        id="phone"
        src="images/cocoabeans/iphone-white.png"
      />
    </div>
  </div>
</section>
