<section
  class='content-container'
  id='services'
>
  <div class="section-header">
    <h1>Services</h1>
    <h2>Stuck with a project? Need an app done? We can help!</h2>
  </div>
  <div class="section-content, keypoints">
    <div id="concept">
      <img
        src="/images/cocoabeans/light-bulb.png"
        width="auto"
        height="50px"
      >
      <span>Concept</span>
    </div>
    <div id="design">
      <img
        src="/images/cocoabeans/pencil.png"
        width="auto"
        height="50px"
      >
      <span>Design</span>
    </div>
    <div id="development">
      <img
        src="/images/cocoabeans/laptop.png"
        width="auto"
        height="50px"
      >
      <span>Development</span>
    </div>
  </div>
</section>
