<section
  class='content-container'
  id='products'
>
  <div class="section-header">
    <h1>Products</h1>
    <h2>Apps that help you everyday</h2>
  </div>
  <section
    class="products-column"
    id="ios-apps"
  >
    <div class="products-column-header">
      <img
        src="/images/cocoabeans/icon-iphone.png"
        width="14px"
        height="24px"
      />
      <h3>iOS apps</h3>
    </div>
    <hr>
    <section class="app">
      <img
        class="app-icon"
        src="images/pomodorino/icon-ios.png"
        width="50px"
        height="auto"
      />
      <div class="app-info">
        <a href="/apps/pomodorino/">
          <h2 class="app-name">Pomodorino</h2>
          <p class="app-description">A powerful Pomodoro Timer</p>
        </a>
      </div>
    </section>
  </section>
  <section
    class="products-column"
    id="mac-apps"
  >
    <div class="products-column-header">
      <img
        src="/images/cocoabeans/icon-mac.png"
        width="24px"
        height="21px"
      />
      <h3>Mac apps</h3>
    </div>
    <hr>
    <section class="app">
      <img
        class="app-icon"
        src="images/pomodorino/icon-mac.png"
        width="50px"
        height="auto"
      />
      <div class="app-info">
        <a href="/apps/pomodorino/">
          <h2 class="app-name">Pomodorino</h2>
          <p class="app-description">A powerful Pomodoro Timer</p>
        </a>
      </div>
    </section>
  </section>
</section>
