<section
  class='content-container'
  id='contacts'
>
  <div class="section-header">
    <h1>Contacts</h1>
    <h2>What can we do for you?</h2>
  </div>
  <div class="section-content, form-container">
    <form
      id="contacts-form"
      action="//formspree.io/hello@cocoabeans.io"
      method="POST"
    >
      <input
        type="email"
        name="_replyto"
        placeholder="youremail@example.com"
        id="contacts-form-email"
        required
      >
      <input
        type="text"
        name="name"
        placeholder="Your Name"
        id="contacts-form-name"
        required
      >
      <input
        type="text"
        name="subject"
        placeholder="Subject"
        required
      >
      <textarea
        name="message"
        placeholder="Your Message"
        id="contacts-form-message"
        required
      ></textarea>
      <input
        type="submit"
        name="submit"
        value="Send"
        class="button"
      >
      <input
        type="hidden"
        name="_next"
        value="//cocoabeans.io/#contacts"
      />
    </form>
  </div>
</section>
