<nav class="nav_hold">
	<div class="nav_logo">
		<img src="/images/cocoa_beans_logo.png" alt="Cocoa Beans Ltd Logo" width="200px" height="80px" />
	</div>
	<a class="nav_button" id="nav_button">&#9776;</a>
	<ul class="nav_menu" id="nav">
		<li {% if page.id == 'home' %}class="current_menu_item"{% endif %}><a href="/">Home</a></li>
		<li {% if page.id == 'work' %}class="current_menu_item"{% endif %}><a href="/work">Work</a></li>
   		<li {% if page.id == 'blog' %}class="current_menu_item"{% endif %}><a href="/blog">Blog</a></li>
   		<li {% if page.id == 'about' %}class="current_menu_item"{% endif %}><a href="/about">About</a></li>
   		<li {% if page.id == 'contacts' %}class="current_menu_item"{% endif %}><a href="/contacts">Contacts</a></li>
	</ul>
	<div class="clear"></div>
</nav>