<nav>
	<div class="nav_hold">
		<div class="nav_logo">
			<img src="/images/cocoa_beans_logo.png" alt="Cocoa Beans Ltd Logo" width="200px" height="80px" />
		</div>
		<div class="nav_menu_container">
			<a class="nav_button" id="nav_button">&#9776;</a>
			<ul class="nav_menu" id="nav">
				<li><a href="/">Home</a></li>
				<li><a href="#products">Products</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contacts">Contacts</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</nav>