<ul class="social_links_list" id="social">
	<li>
		<a href="http://twitter.com/cocoabeansltd">
			<div class="socialButton" id="socialButtonTwitter">&#xe005;</div>
		</a>
	</li>
	<li>
		<a href="https://www.facebook.com/cocoabeansltd">
			<div class="socialButton" id="socialButtonFacebook">&#xe021;</div>
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/+CocoaBeansMe">
			<div class="socialButton" id="socialButtonGoolePlus">&#xe01b;</div>
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com/channel/UCwj23kdHgyJgMBjH4-eE4Dw">
			<div class="socialButton" id="socialButtonYouTube">&#xe027;</div>
		</a>
	</li>
	<li>
		<a href="http://github.com/cocoabeansltd">
			<div class="socialButton" id="socialButtonGitHub">&#xe01c;</div>
		</a>
	</li>
	<li>
		<a href="/blog/feed.xml">
			<div class="socialButton" id="socialButtonRSS">&#xe00c;</div>
		</a>
	</li>
</ul>