---
id: pomodorino
title: Pomodorino
style: /css/pomodorino.css
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
		<section id="pomodorino-top">
			<div id="top-container">
				<img class="logo" src="/images/pomodorino/pomodorino-logo.png" width="196px" height="auto">
				<img class="devices" src="/images/pomodorino/devices.png" width="598px" height="auto">
			</div>
		</section>
		<section class="main">
			<h2>No fuss, simply focus.</h2>
			<h6>Pomodorino is a powerful productivity tool built around the Pomodoro Technique® that will help you with your work and your studies.</h6>
			<div class="badges">
				<img src="/images/pomodorino/app-store-badge.png" height="30px" width="auto">
				<img src="/images/pomodorino/mac-app-store-badge.png" height="30px" width="auto">
			</div>
			<a href="https://www.dropbox.com/sh/72vjz802rtwnf23/AADHR94L0OjfIgPHh5pH8Oj9a?dl=0">Press Kit</a>
		</section>
		<footer>
			<div id="maker">Brewed with love at <strong><a href="/">Cocoa Beans</a></strong></div>
			{% include footer.html %}
		</footer>
    </body>
</html>